.box-body h2{
    display: block;
    font-size: 28px;
    font-family: "Microsoft Yahe";
    height: 48px;
    line-height: 48px;
    width: 100%;
    text-align: center;
    color: #494949;
}
.box-body p{
    display: block;
    width: 100%;
    border:1px solid #d9d9d9;
    margin-top: 14px;
    height: 52px;
    line-height: 52px;
    border-radius: 2px;
}
.box-body p label{
    width: 96px;
    float: left;
    font-size: 20px;
    color: #4d4d4d;
    text-indent: 4.5%;
}
.box-body p input{
    width: 362px;
    float: left;
    height: 52px;
    line-height: 52px;
    font-size: 18px;
    color: #cccccc;
}
.box-body p:last-of-type label{
    width: 120px;
}
.box-body p:first-of-type label{
    width:72px;
}
.box-body p:last-of-type input{
    width: 338px;
}
.box-body p:first-of-type input{
    width: 386px;
}
.box-body .btn{
    width:100%;
    margin: 21px auto;
}
.box-body .btn a,.box-body .btn input{
    display: block;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
}
.box-body .btn a{
    color: #3299f7;
    width: 230px;
    float: left;
}
.box-body .btn input{
    width: 216px;
    float: right;
    background: #3299f7;
    color: #fff;
    border-radius: 5px;
}
